footer {
    width: 100%;
    background-color: var(--wheat);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    row-gap: 0px;
    padding: 10px 20px;
}

.logoFooter {
    width: 200px;
    height: 200px;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.mapa a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.2rem;
}

.mapa a:hover {
    text-decoration: underline;
}

.infos {
    display: flex;
    flex-direction: column;
    color: var(--gray);
}

.copyright {
    width: 80%;
    color: var(--gray);
    font-size: 0.8rem;
    margin-top: 10px;
}


