header {
    background-color: var(--wheat);
    padding: 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

header ul {
    position: relative;
    display: flex;
    gap: 10px;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: var(--ice-gray);
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--gray);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}


h1 {
    color: rgb(0, 61, 0);
    margin-top: 30px;
}

h2 {
    color: black;
    text-decoration: none;
    font-size: 12pt;
    padding: 20px 400px 0px;
}

p {
    text-align: center;
    width: 60%;
    margin: 10px auto 40px auto;
    font-weight: 300;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 30rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 14pt;
    color: #ffffe5;
    font-weight: 400;
}